/*
Breakpoint is based on following Japanese site
ブレイクポイントについては、こちらを参照：
https://www.seojuku.com/blog/responsive-mediaquery.html
*/


@media only screen and (max-width:1024px){  /*PC、横向きのタブレット向け*/
	body{
		font-size: 15px;
	}
}


@media only screen and (max-width:900px) {  /*縦向きのタブレット、横向きのスマートフォン向け*/
	body{
		font-size: 13px;
	}

	#image_cities img{
		width: 160px;
		height: 128px;
		margin-bottom: 10px;
	}

	#image_flags img{
		width: 128px;
		height: 80px;
		margin-bottom: 10px;
	}
	
	.skills{
		font-size: 13px;
	}
}


@media only screen and (max-width:380px) {  /*縦向きのスマートフォン向け*/
	body{
		font-size: 11px;
	}
	
	header{
		padding-top: 28px;
	}
	
	h1{
		font-size: 18px;
		font-family: 'ＭＳ ゴシック';
	}
	
	#image_cities img{
		width: 140px;
		height: 112px;
	}
	
	#image_flags img{
		margin-left: 8px;
		margin-right: 8px;
		width: 112px;
		height: 70px;
	}
	
	.skills{
		font-size: 11px;
	}
	
	footer{
		text-align: center;
	}
}


@media only screen and (min-width: 920px) {
	.responsive-folding{
		display: none;
	}
}